body {
    font-family: 'KaiTi', '楷体', serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    line-height: 1.6;
    background-image: url("../assets/R-C.jpg");
    /* background-size: cover; */
    height: 150vh;
    backdrop-filter: blur(100px);
        -webkit-backdrop-filter: blur(100px);
    opacity: 0.85;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #8B4513;
    /* 棕色 */
    color: #fff;
    border-radius: 10px 10px 0 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
    /* 悬停时变为金色 */
}

section {
    margin: 30px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    animation: fadeIn 0.8s ease forwards;
    opacity: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-font {
    font-size: 20px;
}


/* 动画关键帧 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.g-svg {
    position: absolute;
    top: 0;
    left: 50%;
    width: 700px;
    height: 2500px;
    transform: translate(-50%, 0);
}

.g-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 700px;
    height: 2500px;

    &::before {
        content: "";
        position: absolute;
        inset: 0 -30vw;
        background: linear-gradient(#000, rgb(137, 102, 25));
    }
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    offset-path: path("M 350 40 C 1200 1000, -550 1000, 350 1960");
    background: linear-gradient(270deg, #8b898f, #292726);
    animation: move 1s linear;
    animation-timeline: scroll(root);
    z-index: 10;
}

#svgpath {
    stroke-dasharray: 2222, 2222;
    animation: lineMove 3s linear;
    animation-timeline: scroll(root);
    stroke-width: 2px;
    stroke: #ecdcdca7;
}

.point {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffa322bb;
    opacity: 0;
    animation: show 1s linear forwards;
    animation-timeline: scroll(root);

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background: rgba(255, 255, 255, .5);
        animation: circleScale 2s infinite ease-in;
        z-index: -1;
    }

    &::after {
        animation-delay: -.5s;
    }
}

.point1 {
    top: 510px;
    left: 570px;
    animation-range: 150px 200px;
}

.point2 {
    top: 910px;
    left: 370px;
    animation-range: 400px 450px;
}

.point3 {
    top: 1410px;
    left: 66px;
    animation-range: 650px 700px;

}

.point4 {
    top: 1900px;
    left: 295px;
    animation-range: 950px 1000px;
}

h2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100px;
    font-size: 60px;
    color: #fff;

}

p {
    position: absolute;
    padding: 16px;
    border: 4px dashed #fff;
    width: 50vw;
    color: #fff;
    font-size: 24px;
    text-align: justify;
    font-style: italic;
    opacity: 0;
    animation: textShow 1s linear forwards;
    animation-timeline: scroll(root);
}

.p1 {
    --x: -500px;
    top: 410px;
    left: 60px;
    width: 400px;
    animation-range: 150px 200px;
}

.p2 {
    --x: -150px;
    width: 600px;
    top: 840px;
    left: 300px;
    animation-range: 350px 450px;
}

.p2::before {
    content: "";
    float: left;
    width: 240px;
    height: 200px;
    shape-outside: polygon(80% 0, 90% 0, 0 90%, 0 80%);
}

.p3 {
    --x: 500px;
    top: 1310px;
    left: 190px;
    width: 450px;
    animation-range: 650px 700px;
}

.p4{
    --x: 850px;
    top: 1900px;
    right: 400px;
    width: 400px;
    animation-range: 400px 550px;
}

/* // .p2 {
//     --scale: .2;
//     --x: 900px;
//     top: 900px;
//     animation: show 1s linear forwards;
//     animation-timeline: scroll(root);
//     animation-range: 350px 600px;
// } */

@keyframes lineMove {
    0% {
        stroke-dashoffset: 2222;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }

    50% {
        transform: scale(2.5);
    }

    100% {
        offset-distance: 100%;
    }
}

@keyframes circleScale {

    80%,
    100% {
        transform: scale(4);
        opacity: .1;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes textShow {
    0% {
        transform: translate(var(--x), 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}